.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

  .sanj
  {

   font-size: 30px;
   margin-top: 40px;

  }


  .panel-body{


    font-size: 20px;
  }


  .panel-body{


    margin-top: 110px;
  }
  .answers{



   padding-left: 30;
   



  }

.submit{


   margin-left:500px ;
   font-size:15px;
  
  



  }
